APP_NAME="CS85 Module 8A ORM Practice"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://127.0.0.1:8000

DB_CONNECTION=sqlite

MODULE8A_DB_HOST=127.0.0.1
MODULE8A_DB_PORT=3307
MODULE8A_DB_DATABASE=orm_practice_db
MODULE8A_DB_USERNAME=module8a
MODULE8A_DB_PASSWORD=replace_with_local_password
